<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car App</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
</head>

  <body>
    <div class="container">
    <ul>
    <% for(var i=0; i< car.length; i++){ %>
      <li><b>Make : </b> <%= car[i].make%></li>
      <li><b>Model : </b> <%= car[i].model%></li>
      <li><b>Year : </b> <%= car[i].year%></li>
      <li><b>Color : </b> <%= car[i].color%></li>
    </ul>
    <a href="../cars/<%= car[i]._id %>" title="Delete Car">Delete Car </a>
    <% } %>
  </div>
  </body>
</html>
